ion-content.background{
  --background: url(../../assets/fondo1.png) 0 0/100% 100% no-repeat;
}

ion-toolbar{
  height: 50px;
}

ion-title{
  color: rgb(255, 255, 255);
  font-size:14px;
}

.text-center{
  color: rgb(255, 255, 255);
  font-size:medium;
}

ion-button{
  color: rgb(255, 255, 255);
}

ion-label{
  color: rgb(255, 255, 255);
}

.second-toolbar{
  height: 105px;
}


ion-card-title{
  font-size: medium;
  text-align: center;
  color: rgb(255, 255, 255);
}

ion-modal {
  &.center {
    --width: calc(100% - 2em);
    align-items: center;
    --height: auto;
    .ion-page {
      position: relative;
      display: block;
      contain: content;
    }
  }
}
